@{
ViewData["Title"] = "Home Page";
}


<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Fediverset</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Søg..." aria-label="Søgefelt"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Udfør Søgning</button>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col text-center intro">
            Howdy, hvordan ønsker du at bruge Fediverset?
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col text-center">
            <div class="card">
                <div class="card-body">
                
                </div>
                <div class="card-footer">
                    Som bruger
                </div>
            </div>
        </div>
        <div class="col text-center">
            <div class="card">
                <div class="card-body">
                  
                </div>
                <div class="card-footer">
                    Som udvikler
                </div>
              </div>
        </div>
    </div>
</div>